* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* HEADER  */

/* all screen  */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 30px;
  left: 0;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 0px;
  transition: all .5s;
}

header .navbar .navbar-brand {
  color: #189a46;
  font-weight: bold;
  font-size: 30px;
}

header .navbar .navbar-brand:hover {
  color: #189a46;
}

header .navbar .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  font-size: 18px;
  position: relative;
  transition: all 0.5s;
}

header .navbar .navbar-nav .nav-link:hover,
header .navbar .navbar-nav .nav-item.active .nav-link {
  color: #189a46;
}

header .navbar .navbar-nav .nav-link i {
  font-size: 11px;
}

/* Desktop  */

@media (min-width: 992px) {
  header .navbar .navbar-nav .nav-link::before {
    content: "";
    width: 0%;
    height: 1px;
    background-color: #189a46;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
  }

  header .navbar .navbar-nav .nav-link:hover::before {
    width: 90%;
  }
  
  header .navbar .theme__color {
    position: absolute;
    top: 20px;
    right: -15px;
  }
}


header .navbar .theme__container {
  position: relative;
  width: 30px;
  height: 30px;
}

header .navbar .theme__color i.fa-sun {
  font-size: 25px;
  position: absolute;
  top: 0px;
  left: 10px;
  display: none;
  color: #ffffff;
}

header .navbar .theme__color i.fa-moon {
  font-size: 25px;
  position: absolute;
  top: 0px;
  left: 10px;
}

/* THEME DARK  */

header.background__dark {
  background-color: black;
  transition: all .5s;
}

header.background__dark .navbar-nav a.nav-link {
  color: #ffffff;
  transition: all .5s;
}

/* tablet , smart phone  */

@media (max-width: 992px) {
  .navbar #navbarSupportedContent {
    text-align: center;
  }

  .navbar button.navbar-toggler {
    background-color: #189a46;
    padding: 16px;
    position: relative;
  }
  i.fa.fa-bars {
    font-size: 25px;
    position: absolute;
    top: 4px;
    left: 6px;
    color: #ffffff;
  }
  .navbar-toggler.collapsed i.fa.fa-bars {
    display: block;
  }
  .navbar-toggler i.fa.fa-bars {
    display: none;
  }
  i.fa.fa-times {
    font-size: 25px;
    position: absolute;
    top: 4px;
    left: 9px;
    color: #ffffff;
  }
  .navbar-toggler.collapsed i.fa.fa-times {
    display: none;
  }
  .navbar-toggler i.fa.fa-times {
    display: block;
  }

  header .navbar .theme__color {
    position: absolute;
    top: 20px;
    right: 60px;
  }
}

/* CAROUSEL  */

#carousel {
  position: relative;
}

#carousel .overlay {
  background: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  #carousel .carousel-item {
    height: calc(100vh - 40px);
  }
}

@media (max-width: 600px) {
  #carousel .carousel-item {
    height: 500px;
  }
}

@media (max-width: 768px) {
  #carousel .carousel-item {
    height: 580px;
  }
  #carousel .carousel-item .carousel__title {
    position: relative;
  }
}

@media (min-width: 992px) {
  #carousel .carousel-item .carousel__title h1 {
    font-size: 60px;
    font-weight: 700;
  }
}

@media (max-width: 992px) {
  #carousel .carousel-item .carousel__title h1 {
    font-size: 45px;
    font-weight: 700;
  }
  #carousel .carousel-item .carousel__title {
    position: relative;
    margin-top: 50%;
  }
}

#carousel img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -2;
}

#carousel .carousel-item .carousel__title {
  position: relative;
  margin-top: 50%;
}

.btn-white {
  color: #189a46;
  background-color: #ffffff;
  padding: 15px 35px;
  margin: 30px 5px 0px 0px;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid white;
}

.btn-white:hover {
  text-decoration: none;
  color: #189a46;
}

.btn-transparent {
  color: #ffffff;
  background: transparent;
  padding: 15px 35px;
  margin-top: 30px;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid white;
  transition: all 0.5s;
}

.btn-transparent:hover {
  color: #189a46;
  background-color: #ffffff;
  text-decoration: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border-radius: 50%;
}

.carousel-indicators li:hover,
.carousel-indicators li.active {
  background-color: #189a46;
  width: 30px;
  height: 10px;
  opacity: 1;
}

/* ABOUT  */

@media (min-width: 992px) {
  #about .about__title .about__item {
    padding: 0 14rem;
  }
  h2.overall__title__heading {
    font-size: 40px;
  }
}

span.overall__title__span {
  color: red;
  font-size: 20px;
}

p.overall__title__para {
  color: #636363;
  font-size: 15px;
}

a.btn__read {
  color: black;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
}

a.btn__read:hover {
  color: #189a46;
  text-decoration: none;
}

a.btn__read::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #189a46;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.about__product {
  background-color: #f9f8fd;
  padding: 100px 0px;
}

.about__product .card {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #ffffff;
  transition: all 0.5s;
}

.about__product .card:hover {
  background-color: #f3f1fd;
}

#about .about__product .card-body i {
  color: #189a46;
  font-size: 30px;
}

#about .about__product .card-body h5 {
  font-weight: 700;
  margin: 15px 0px;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s;
}

#about .about__product .card-body h5:hover {
  font-weight: 700;
  margin: 15px 0px;
  font-size: 25px;
  color: #189a46;
}

#about .about__product .card-body p {
  line-height: 30px;
  font-size: 18px;
  color: #636363;
}

/* THEME DARK  */

#about.about__dark {
  background-color: black;
  transition: all .5s;
}

#about.about__dark .about__item {
  color: #ffffff;
}

#about.about__dark a.btn__read {
  color: #ffffff;
}

#about.about__dark .about__product {
  background-color: #222222;
  transition: all .5s;
}

#about.about__dark .about__product .card {
  color: #ffffff;
  background-color: black;
  transition: all .5s;
}

#about.about__dark .about__product .card:hover {
  background-color: #222222;
}


/* CHOOSE  */

@media (min-width: 992px) {
  .choose__info {
    padding: 100px 0px;
  }
}

@media (max-width: 992px) {
  .choose__info {
    padding: 50px 0px;
  }
}

.choose__img {
  overflow: hidden;
  border-radius: 10px;
}

.choose__info ul {
  list-style: none;
}

.choose__info ul li {
  margin-bottom: 20px;
}

.choose__info ul li i {
  margin-right: 10px;
  color: #189a46;
  background-color: #f3f1fd;
  padding: 5px;
  border-radius: 50%;
  font-size: 11px;
}
.choose__info ul li span {
  font-weight: 700;
}

/* CHOOSE DARK  */

#choose.choose__dark {
  background-color: black;
  transition: all .5s;
}

#choose.choose__dark .choose__info {
  color: #ffffff;
}

#choose.choose__dark .choose__info ul li i {
  background-color: #222222;
}

/* NUMBER  */

div#number {
  background-color: #189a46;
}

#number .list__number .number__item h2 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}

#number .list__number .number__item span {
  color: #ffffff;
  font-weight: 300;
}

@media (max-width: 576px) {
    #number .list__number .number__item h2 {
        font-size: 30px;
    }

}

/* plan  */

#plans {
  background-color: #f9f8fd;
}

#plans .plan__list .card {
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

@media (min-width : 768px) {
  #plans .plan__list .card .card-body.item__normal {
    padding: 15px 0px;
  }

}


#plans .plan__list .card .card-body h5 {
  font-weight: bold;
  font-size: 25px;
}

#plans .plan__list .card .card-body p .money {
  font-size: 35px;
  color: #189a46;
  font-weight: bold;
  position: relative;
}
#plans .plan__list .card .card-body p .money i {
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -12px;
}

#plans .plan__list .card .card-body p .month {
  color: #636363;
  font-size: 14px;
}

#plans .plan__list .card .card-body ul {
  list-style: none;
  margin: 50px 0px;
}

#plans .plan__list .card .card-body .btn__buy {
  background-color: #189a46;
  color: #ffffff;
  padding: 15px 35px;
  border-radius: 10px;
  text-decoration: none;
  transition: all .5s;
  font-size: 18px;

}

#plans .plan__list .card .card-body .btn__buy:hover {
  background-color: #106E33;
}


#plans .plan__list .card .card-body .btn__started {
  background-color: #189a46;
  color: #ffffff;
  padding: 15px 35px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 50px;

}

#plans .plan__list .card-special {
  padding-bottom: 20px;
}


#plans .plan__list .card-special .item__special {
  background-color: #189a46;
}

#plans .plan__list .card-special .item__special .save__10 {
  background-color: #ffffff;
  color: #189a46;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

@media (max-width: 992px) {
  #plans .plan__list .card .card-body .btn__buy {
    display: none;
  }
  #plans .plan__list .card .card-body .btn__started {
    display: none;
  }

}

/* plans DARK */

#plans.plans__dark {
  background-color: #222222;
  transition: all .5s;
}

#plans.plans__dark .plan__title h2 {
  color: #ffffff;
}

#plans.plans__dark .plan__list .card {
  background-color: black;
  box-shadow: none;
}

#plans.plans__dark .plan__list .card .card-body h5 {
  color: #ffffff;
}

#plans.plans__dark .plan__list .card .card-body ul li {
  color: #ffffff;
}

/* NUTRITION  */

#nutrition .video-popup {
  position: relative;
}

#nutrition .video-popup img {
  border-radius: 10px;
}
#nutrition .video-popup a {
  position: absolute;
  left: 50%;
  top: 45%;
  color: #189a46;
  font-size: 20px;
  text-decoration: none;
}

#nutrition .video-popup a span {
  background-color: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;

}

#nutrition .video-popup a span::before {
  content: " ";
  position: absolute;
  top: 0 ; 
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #189a46;
  animation: ripple1 2s linear infinite;
  
}

#nutrition .video-popup a span::after {
  content: " ";
  position: absolute;
  top: 0 ; 
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #189a46;
  animation: ripple2 2s linear infinite;
  animation-delay: 2s;
  
}

#nutrition .video-popup a span:hover {
  transform: scale(1.1);
}




#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}

.mfp-close,
.mfp-close:active {
  top: -40px;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

@keyframes ripple1 {
  0% {
    opacity: .2;
    transform: scale(1.2);
  }



  70% {
    opacity: .2;
    transform: scale(1.7);
  }


  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes ripple2 {
  0% {
    opacity: .2;
    transform: scale(2.1);
  }
  50% {
    opacity: .2;
    transform: scale(2.3);
  }

  70% {
    transform: scale(2.5);
  }

  80% {
    transform: scale(2.7);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* NUTRITION THEME DARK  */

#nutrition.nutrition__dark {
  background-color: black ; 
  transition: all .5s;
}

#nutrition.nutrition__dark .nutrition__title {
  color: #ffffff;
}

#nutrition.nutrition__dark .nutrition__title a {
  color: #ffffff;
  font-weight: 700;
}

/* TESTIMONIALS  */


#testimonials {
  background-color: #F9F8FD;
}

#testimonials .list__item .item {
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  background-color: #ffffff;
  
}

#testimonials .list__item .item__feadback i {
  color: #189a46;
  font-size: 30px;
}
#testimonials .list__item .item__author {
  display: flex;
  align-items: center;
}

#testimonials .list__item .item__author img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

#testimonials .owl-dots {
  margin-top: 50px;
  text-align: center;
}

#testimonials .owl-dots .owl-dot.active , #testimonials .owl-dots .owl-dot:hover  {
  width: 30px;
  height: 10px;
  border-radius: 10px;
  background: #189a46;
}


#testimonials .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background: rgb(128, 128, 128 , 0.3) ;
  border-radius: 50%; 
  margin-right: 20px;
  transition: all .1s;

}

/* TABLETS MOBILE  */

@media (max-width: 992px) {
  #testimonials .owl-carousel .owl-nav {
    display: none;
  }
  #testimonials .owl-carousel .owl-dots {
    display: none;
  }
}

/* THEME DARK  */

#testimonials.testimonials__dark {
  background-color: #222222;
  transition: all .5s;
}

#testimonials.testimonials__dark .testimonials__title h2 {
  color: #ffffff;
}

#testimonials.testimonials__dark .list__item .item {
  background-color: black;
  color: rgb(255, 255, 255 , .8);
}

/* update  */

/* desktop  */
@media (min-width : 992px) {
  #update .update__container {
    padding: 100px 200px;
  }
  #update .update__container .update__title p {
    font-size: 18px;
  }
  #update .form-group input {
    padding: 30px 10px;
    border-radius: 10px;
    color: #636363;
  }
  #update button {
    padding: 18px;
    border-radius: 10px;
  }
}

/* ipad  */

@media (max-width : 992px) {
  #update .update__container {
    padding: 50px;
  }
  #update .form-group input {
    padding: 30px 10px;
    border-radius: 10px;
    color: #636363;
  }
  #update button {
    padding: 18px;
    border-radius: 10px;
  }
}

/* smartphone  */

@media (max-width : 768px) {
  #update .update__container {
    padding: 50px;
  }
  #update .form-group input {
    padding: 20px 10px;
    border-radius: 10px;
    color: #636363;
  }
  #update button {
    padding: 12px;
    border-radius: 10px;
  }
}

/* THEME DARK  */

#update.update__dark {
  background-color: black;
  transition: all .5s;
}

#update.update__dark .update__title {
  color: #ffffff;
}

/* FOOTER  */

#footer {
  background-color: black;
}

#footer .row ul {
  list-style: none;
}
#footer .row ul li {
  margin-bottom: 15px;
}
#footer .row ul li a {
  color: rgb(255, 255, 255 , .5);
  transition: all .3s;

}

#footer .row ul li a:hover {
  color: rgb(255, 255, 255 , 1);

}

#footer .row .icon i {
  cursor: pointer;
  color: rgb(255, 255, 255 , 0.5);
  transition: all .3s;

}
#footer .row .icon i:hover {
  color: rgb(255, 255, 255 , 1);
}

#footer hr {
  border-top: 1px solid rgb(255, 255, 255 , .1) ;
}

#footer .copy__right p span {
  color: red;
  cursor: pointer;
}










